@model LibApp.ViewModels.NewCustomerViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.Customer.Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Customer.Name)
@*        <label for="Name" class="fomr-label">Name</label>
        <input type="text" class="form-control" itemid="Name"> *@
    </div>    
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @*<label for="Name" class="form-label">Date </label>*@
        @Html.TextBoxFor(m => m.Customer.Birthdate, new {@class = "form-control"})
    </div>
    <div class="form-check">
        <label class="form-check-label" for="flexCheckDefault">
            @Html.CheckBoxFor(m => m.Customer.SubscribedToNewsletter) Subscribed to newsletter?
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn-primary">Save</button>
}